.App {
  text-align: center;
}

.container {
  width: 80% !important;
  text-align: center !important;
  padding-left: 50px;
  padding-bottom: 50px;
}

#menu-table {
  width: 80%;
}

th, td {
  padding: 5px;
}
