
.container {
  width: 80% !important;
  text-align: center !important;
  padding-left: 50px;
  padding-bottom: 50px;
}

#new-restaurant {
  text-align: right;
  padding-right: 100px;
}

#new-order {
  text-align: right;
  padding-right: 100px;
}

th, td {
  padding: 5px;
}
